<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Thanks to</h5>
          <ul>
            <li><a class="white-text" href="http://materializecss.com">Materialize</a></li>
            <li><a class="white-text" href="https://kawalcorona.com">kawalcorona</a></li>
            <li><a class="white-text" href="https://newsapi.org">newsapi</a></li>
            <li><a class="white-text" href="https://undraw.co">undraw</a></li>
            <li><a class="white-text" href="https://www.freepik.com">freepik</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container white-text center-align">
      Made with <i class="red-text darken-1 tiny material-icons">favorite</i> by yuan
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>